{
    "root": true,
    "env": {
        "mocha": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:markdown/recommended",
        "plugin:json/recommended",
        "plugin:promise/recommended"
    ],
    "rules": {
        "@typescript-eslint/no-explicit-any": 0
    }
}